# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints

# IDE
.idea
.vscode

# R
.Rhistory

# others
venv/
*.log
data/*.pkl
app/data/eda-prepared-py.csv
app/data/eda-predicted-poc.csv
app/data/model_optimization-prepared-py.csv
# data/phase-02/Bond7-20190731*.csv
app/data/phase-02/Bond7-20190731*.xlsx
app/data/phase-02/Bond7-20190731-prepared.csv
app/rnd_phase_02/*.zip
